<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Title }} {{ if ne .Title .Site.Title }} &middot; {{ .Site.Title }}{{ end }}</title>
    <meta charset="utf-8" />
    {{ partial "metas" . }}
    {{ partial "head_script" . }}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {{ template "_internal/google_analytics_async.html" . }}
    </head>

    <body id="index" class="archive">
      <nav class="navbar navbar-expand-md navbar-dark px-5 navbar-color">
        <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
          &#9776;
        </button>
        <div class="mx-md-4"></div>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="nav navbar-nav">
            {{ $currentNode := . }}
            {{ range .Site.Menus.main }}
              <a class="nav-item nav-link menu-item mx-md-2" href="{{.URL}}">
              {{ .Pre }}
              <span>{{ .Name }}</span>
              </a>
            {{end}}
          </div>
        </div>
      </nav>
      <div class="m-3"></div>
