 <!-- ignore empty links with + -->
{{ $headers := findRE "<h[1-6].*?>(.|\n])+?</h[1-6]>" .Content }}
<!-- at least one header to link to -->
{{ $has_headers := ge (len $headers) 1 }}
<!-- a post can explicitly disable Table of Contents with toc: false -->
{{ with $show_toc := $.Params.toc }}
{{ if and $has_headers $show_toc }}
<div class="table-of-contents toc bd-callout rounded border border-secondary m-3 p-2">
    <!-- TOC header -->
    <h4 class="text-muted">{{ $show_toc }}</h4>
    {{ range $headers }}
        {{ $header := . }}
        {{ range first 1 (findRE "<h[1-6]" $header 1) }}
            {{ range findRE "[1-6]" . 1 }}
              <div class="toc-h{{ . }}">
                {{ $base := ($.Page.File.LogicalName) }}
                {{ $header := replace (replace $header "&lt;" "") "&gt;" "" }}
                {{ $anchorId := ($header | plainify | htmlEscape | urlize) }}
                {{ $href := delimit (slice $base $anchorId) "#" | string }}
                  {{ if le (int .) 3 }}
                  <a href="{{ relref $.Page $href }}">
                    {{ $header | plainify }}
                  </a>
                  {{ else }}
                    {{ $header | plainify }}
                  {{ end }}
              </div>
            {{end}}
        {{end}}
    {{ end }}
</div>
{{ end }}
{{ end }}
