{{ partial "header" . }}
<div id="whole">
  <div class="leftbar">
    {{ partial "sidenav" . }}
  </div>
  <div class="centerbar">
    <div class="container-fluid">
        {{ $paginator := .Paginate (where (where .Site.Pages "Kind" "page" ) "Type" "post") }}
        {{ range $paginator.Pages }}
          {{ if gt .Params.weight 80}}
            {{ .Render "article" }}
          {{ else }}
            {{ .Render "summary" }}
          {{ end }}
        {{ end }}
        {{ partial "pagination" . }}
    </div>
  </div>
{{ partial "footer" . }}
